<div class="pageContainer">
    <div class="productBacklogContainer">
        <h1 class="title robotoMedium">Product Backlog</h1>
        <ul *ngFor="let eltSprint of productBacklog; let i = index;"
             class="alignCenter">

            <li class="standardCard radius robotoLight">{{eltSprint}}</li>
        </ul>

        <br/>
        <input
            [routerLink]="['/myProject', projectName]"
            type="button"
            value="Back"
            (mousedown)="toggleButtonPress(true);"
            (mouseup)="toggleButtonPress(false);"
            (mouseleave)="toggleButtonPress(false);"
            [ngClass]="{'isPressedClass': isButtonPressed === true}"
            class="cursorPointer inputSizeBack robotoMedium bgLightRed radius noBorder fontSizeMedium shadowBottom">
    </div>
</div>
