<form [formGroup]="form" (ngSubmit)="sendData()">
    <div class="inputContainer" formGroupName="main">
        <h1>{{title}}</h1>

    <input type="text"
           formControlName="nameProject"
           class="inputLog noOutlineOnFocus radius inputSize paddingLeft"
           placeholder="Project Name">

    <input
        (mousedown)="toggleButtonPress(true);"
        (mouseup)="toggleButtonPress(false);"
        (mouseleave)="toggleButtonPress(false);"
        [ngClass]="{'isPressedClass': buttonIsPressed === true}"
        id="btnSignUp"
        type="submit"
        value="Create"
        [disabled]="form.invalid"
        class="inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom">
    </div>
</form>
