<div class="inputContainer">
    <h1 class="robotoMedium title">{{username}}'s projects</h1>

    <h2 class="robotoMedium">{{subtitles[0]}}</h2>
    <ul class="myProject">
        <li [routerLink]="['/myProject', name]"
            class="cursorPointer radius standardCard robotoLight"
            *ngFor="let name of activeProjectsNames">
            {{name}}</li>
    </ul>

    <h2 class="robotoMedium">{{subtitles[1]}}</h2>
    <ul class="oldProjects">
        <li [routerLink]="['/myProject', name]"
            class="cursorPointer radius standardCard robotoLight"
            *ngFor="let name of oldProjectsNames">
            {{name}}</li>
    </ul>

    <input
        [routerLink]="['/createProject']"
        *ngIf="isProductOwner"
        type="button"
        class="cursorPointer inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom"
        value="New project"
        (mousedown)="toggleButtonPress(true);"
        (mouseup)="toggleButtonPress(false);"
        (mouseleave)="toggleButtonPress(false);"
        [ngClass]="{'isPressedClass': buttonPressed === true}"
        [disabled]="isProjectAlreadyExist==true">
</div>
