.subTitle {
    padding-left: 100px;
    padding-top: 50px;
}

.listProject {
    height: 100px;
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 100px;
    margin-top: 20px;
}

.projectContainer {
    display: inline-block;
}

.projectContainer:first-of-type {
    padding-right: 80px;
}
