<div class="pageContainer">

    <div class="infosProjectContainer">
        <h2>Project name</h2>
        <p class="standardCard radius">{{nameProject}}</p>

        <h2>Deadline</h2>
        <p class="standardCard radius">24/12/2021</p>

        <h2>Description</h2>
        <p class="standardCard radius">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Id cursus metus aliquam eleifend.</p>

        <h2>Repository URL</h2>
        <p class="standardCard radius">https://github.com/Scryper/ScrumOrganisationSuccessWebApp.git</p>

        <input
            [routerLink]="['/productBacklog']"
            type="button"
            value="Product Backlog"
            (mousedown)="toggleButtonPress(true);"
            (mouseup)="toggleButtonPress(false);"
            (mouseleave)="toggleButtonPress(false);"
            [ngClass]="{'isPressedClass': buttonIsPressed === true}"
            class="cursorPointer inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom">

    </div>

    <div class="sprintContainer">

        <h2>Actual Sprint</h2>

        <div [class.active]="clicked !== nameProject"
             (click)="clicked = (clicked === nameProject ? null :nameProject)"
             class="alignCenter">

            <input
                type="button"
                value="{{sprintActual.name}} - Actual"
                class="cursorPointer standardCard radius">
            <p *ngFor="let eltUS of sprintActual.US">{{eltUS}}</p>
        </div>


        <h2>Old Sprint</h2>
        <div *ngFor="let eltSprint of oldSprint; let i = index;"
             [class.active]="clicked !== eltSprint"
             (click)="clicked = (clicked === eltSprint ? null :eltSprint)"
             class="alignCenter">

            <input
                type="button"
                value="{{eltSprint.name}}"
                class="cursorPointer standardCard radius">
            <p *ngFor="let eltUS of eltSprint.US">{{eltUS}}</p>
        </div>
    </div>

</div>
