<form [formGroup]="form" (ngSubmit)="sendData()" (dblclick)="autoComplete()">

    <div id="logContainer" class="columnStyle addInfosContainerSize bgLightBlue radius alignText">
        <div id="logFormsContainer">
            <div id="formSign" formGroupName="main">
                <p class="titleSize robotoMedium textShadowBottom">{{title}}</p>
                <input type="text"
                       formControlName="lastname"
                       class="inputSize radius noBorder noOutlineOnFocus paddingLeft robotoLight"
                       placeholder="Lastname">
                <br/>
                <input type="text"
                       formControlName="firstname"
                       class="inputSize radius noBorder noOutlineOnFocus paddingLeft robotoLight"
                       placeholder="Firstname">

                <br/>
                <input type="date"
                       formControlName="birthdate"
                       class="inputSize radius noBorder noOutlineOnFocus paddingLeft robotoLight"
                       min="1960-01-01">

                <div id="radioButtonContainer">
                    <label *ngFor="let name of typeUserNames" class="robotoLight">
                    <input  type="radio"
                           value="{{name}}"
                           formControlName="userType"
                           name="userType"
                           class="radioSize noOutlineOnFocus">
                        {{name}}
                    </label>
                </div>
            </div>

            <input (mousedown)="toggleButtonPress(true);"
                   (mouseup)="toggleButtonPress(false);"
                   (mouseleave)="toggleButtonPress(false);"
                   [ngClass]="{'isPressedClass': buttonIsPressed === true}"
                   id="btnSignUp"
                   type="submit"
                   value="Confirm"
                   [disabled]="form.invalid"
                   class="inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom">

            <br/>
            <p *ngIf="!isMajor">You should be 18 years old to sign up on SOS.</p>
        </div>
    </div>
</form>
