.addInfosContainerSize {
    height: 400px;
    width: 450px;
}

#logFormsContainer>*:first-child {
    padding-top: 35px;
}

#btnSignUp {
    margin-top: 25px;
    margin-bottom: 10px;
}

.isPressedClass {
    box-shadow: 0 -2px 4px black;
    background-color: #009B86;
}

input[type="radio"] {
    margin-top: -2px;
    vertical-align: middle;
}

label {
    margin-right: 10px;
}

#radioButtonContainer {
    padding-top: 10px;
}
