<div class="pageContainer">
    <div class="CommentsPageContainer">
        <span class="standardCard radius">US{{actualUserStory.priority}} - {{actualUserStory.name}} : {{actualUserStory.description}}</span>
        <h1 class="title robotoMedium">Comments</h1>

        <div *ngFor="let comment of comments;" class="commentsContainer">
            <div class="standardCard radius commentStyle">
                <span class="bold">{{formatDate(comment.postedAt)}}</span>
                <span>{{comment.content}}</span>
            </div>
        </div>

        <h2 class="robotoMedium">Content</h2>
        <textarea
            [(ngModel)]="addContent"
            rows="4" cols="50"
            class="robotoLight"></textarea>
        <br/>

        <input (click)="addComment();"  type="button" value="Add Comments"
                class="cursorPointer inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom">

    </div>
</div>
