.oldProjects > li {
    padding: 10px 100px 10px 100px;
    margin-top: 10px;
    border: solid black 2px;
    background-color: sandybrown;
    list-style-type: none;
    border-radius: 10px;

}

.projectContainer > p {
    text-align: center;
    padding-bottom: 20px;
}

.oldProjects > *:first-of-type {
    margin: 0;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}
